
.column1 {
            float: left;
            width: 200px;
            height: 300px;
            margin-right: 10px;
            background-color: red;
        }
        
.column2 {
            overflow: hidden;/*创建bfc */
            height: 300px;
            background-color: purple;
        }